:root{
    --primary-color:#333;
    --secondary-color: #444;
    --overaly-color:rgba(0,0,0,0.7);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
}

h1,h2,h3,h4{
    line-height: 1.3;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.nav{
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.navbar .logo{
    font-size: 2rem;
}

.navbar .nav{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
}

.navbar .nav a{
    padding: 0 1rem;
}

.navbar .nav a:hover{
    color: rgb(209, 119, 119);
}

.section-a{
    margin: 12rem 0;
}

.section-a .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:3rem;
    align-items: center;
    justify-content: center;
}

.section-a h2{
    margin: 1rem 0;
}

.section-a p{
    margin: 1rem 0;
}

/* section - b */
.section-b{
    position: relative;
    background: url('imgs/shoe_pic.png') no-repeat center; 
    background-size: 800px;
    height: 600px;
}

.section-b-inner{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.section-b-inner h3{
    font-size: 2rem;
}

.section-b-inner h2{
    font-size: 5rem;
    margin-top: 1rem;
}

.section-b-inner p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.section-c .gallery{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 1500px;
}

.section-c .gallery a:first-child{
    grid-row: 1/3;
    grid-column: 6/3;
}

.section-c .gallery img, .section-c .gallery a{
    width: 100%;
    height: 100%;
}

.section-footer .container a img{
    width: 20%;
}

/* Footer */
.section-footer{
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1rem;
}

.section-footer h2{
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.section-footer h3{
    margin-bottom: 0.7rem;
}

.section-footer a{
    line-height: 1.9;
    color: #ccc;
}



/* Utilities */
.btn{
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
}

.btn:hover{
    color: rgb(217, 137, 137);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overaly-color);
}

.email-form{
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control{
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}
