body {
    background-color: aqua;
}

.box {
    background-color: rgb(43, 37, 37);
    border: 2px solid rgb(110, 110, 218);
    height: 350px;
    width: 650px;
    margin-top: 200px;
    margin-left: 410px;
    border-radius: 30px;
}

#side1 {
    float: left;
    width: 50%;
    color: aqua;
    margin: 100px;
    margin-top: 100px;
    margin-left: 70px;
    border-left: 2px solid aqua;
    width: 20px;
    height: 140px;
    padding-left: 12px;
}

#side2 {
    float: right;
    width: 40%;
    margin-top: 100px;
}

#s1 {}

#s2 {
    margin-top: 10px;
}

#s3 {
    margin-top: 10px;
}

#s4 {
    margin-top: 10px;
}

#s5 {
    margin-top: 10px;
}

#btn {
    margin-top: 10px;
    color: aqua;
    border: 0px solid rgb(43, 37, 37);
    background-color: rgb(43, 37, 37);
    font-size: large;
    margin-left: 45px;
}

#showData {
    margin-top: 270px;
    color: aliceblue;
}
